<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وارد شوید - بلاگ</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <section class="container">
      <form action="/auth/login" class="form"  method="post">
        <div class="left-side image-bg"></div>
        <div class="form-content">
          <header>
            <p class="welcome">خوش آمدید !</p>
            <div class="go-register-text">
              <p>حساب کاربری ندارید؟</p>
              <a href="/pages/register/">ثبت نام کنید !</a>
            </div>

            <div class="login-methods">
              <div>
                <img
                  src="/images/google.png"
                  alt=""
                  class="login-logo"
                />
                ورود با جیمیل
              </div>
              <div>
                <img src="/images/meta.png" alt="" class="login-logo" />
                ورود با متا
              </div>
            </div>
          </header>
          <main class="form-main">
            <p class="or">یا وارد شوید با :</p>

            <div class="inputs-container">
                <input class="form-input" type="text" placeholder="نام کاربری ..." name="username">
                <input class="form-input" type="password" placeholder="گذرواژه ..." name="password">
            </div>
            <div>
                <div class="remember-me">
                    <input type="checkbox" name="remember-me" id="remember-me">
                    <label for="remember-me">مرا به خاطر بسپار</label>
                </div>
            </div>
          </main>
          <footer class="form-footer">
            <button class="login-button">
                وارد شوید
            </button>
          
          </footer>
        </div>
      </form>
    </section>
        <script src="/js/sweetalert.js"></script>
    <script>
      if ("<%= locals.messages.error %>") {
        swal({
          title: "<%= locals.messages.error %>",
          icon: "error",
          buttons: "Try Again",
        });
      } else if ("<%= locals.messages.success %>") {
        swal({
          title: "<%= locals.messages.success %>",
          icon: "success",
          buttons: "Huraaa 😍",
        });
      }
    </script>

  </body>
</html>
