@import url(/css/fonts.css);

* {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-family: "IranSans-Regular";
  text-decoration: none;
}

button {
  cursor: pointer;
}
a {
  color: #333 !important;
}

body {
  background: #f1f1f1;
  display: flex;
  overflow: hidden;
  font-family: "IranSans-Regular";
}

nav {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

#content {
  width: 100%;
}

.welcome {
  font-family: "IranSans-Bold" !important;
}

.text-sm {
  color: rgb(85, 85, 85);
  font-size: 12px;
}

.navbar-buttons {
  display: flex;
  align-items: center;
  gap: 21px;
  justify-content: center;
}

.bell-button {
  font-size: 24px;
  color: #333;
  position: relative;
}

.bell-button::after {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  content: "";
  background: rgb(0, 174, 255);
  right: 1px;
  border: 2px solid white;
}

.break-line {
  width: 1px;
  height: 28px;
  background: rgb(180, 180, 180);
}

.admin-profile {
  max-width: 38px !important;
  height: 38px;
  border-radius: 100%;
}

.profile-data {
  display: flex;
  gap: 6px;
}

.user-role {
  font-size: 12px;
  max-width: max-content;
  font-family: "IranSans-Bold";
  color: rgb(0, 174, 255);
  border-radius: 4px;
}

.profile-dropdown {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-span {
  max-height: 6px !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid.fa-chevron-left {
  font-size: 12px;
  color: gray;
}

#container {
  width: 90%;
  margin: 42px auto 0;
}

.page-title {
  color: rgb(0, 110, 255);
}

.filtering {
  margin: 24px 0;
  display: flex;
  align-content: center;
  gap: 16px;
}

.search-bar {
  width: 420px;
  height: 42px;
  padding: 0 12px;
  border-radius: 25px;
}

#create-article {
  padding: 8px 12px;
  border-radius: 6px;
  background: rgb(0, 119, 255);
  color: white;
}

.sort-button {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.sort-button span i {
  font-size: 12px;
  color: gray;
}

.mr-10 {
  margin-right: 10px;
}

.table {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
  background: white;
}

.table-head {
  background: rgb(252, 252, 252);
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  color: gray;
  user-select: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

.table-row {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-evenly;
  font-size: small;
  align-items: center;
}

.table-row * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.table-head * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-button {
  background: transparent;
  max-width: max-content;
  padding: 6px 12px 7px;
  border-radius: 3px;
  transition: all ease 300ms;
  color: white;
}

.manage-button.edit {
  background: rgba(0, 143, 143, 0.801);
  border: 1px solid rgb(0, 156, 156) !important;
}

.manage-button.remove {
  background: rgb(255, 28, 28);
}

.manage-button.view {
  background: rgb(0, 174, 255);
}

.modal-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  transition: 200ms;
  background: #0000005b;
  z-index: 10;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}

.cookies-card {
  width: 480px;
  height: fit-content;
  background-color: rgb(255, 250, 250);
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  gap: 15px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.066);
}

.cookie-heading {
  color: rgb(34, 34, 34);
  font-weight: 800;
  margin-top: 24px;
}
.cookie-para {
  font-size: 11px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}
.button-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.cookie-button {
  width: 50%;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.accept {
  background-color: rgb(34, 34, 34);
  color: white;
}
.reject {
  background-color: #ececec;
  color: rgb(34, 34, 34);
}
.accept:hover {
  background-color: rgb(0, 0, 0);
}
.reject:hover {
  background-color: #ddd;
}
.exit-button {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.exit-button:hover {
  background-color: #ddd;
  color: white;
}
.svgIconCross {
  height: 10px;
}

.form-input {
  width: 100%;
  height: 38px;
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid #dadada;
}

.form-input::placeholder {
  font-size: 12px !important;
}

.inputs-wrapper {
  width: 95%;
}

.inputs-wrapper * {
  margin: 6px 0;
}

.sidebar {
  padding: 24px;
  width: 250px;
  height: 100vh;
  background: white;
  transition: all ease 200ms;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.website-logo {
  width: 64px;
  transition: all ease-in-out 500ms;
  margin: 0 auto;
}

.sidebar header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-content {
  margin-top: 28px;
  transition: all ease 250ms;
}

.sidebar-content * {
  margin: 12px 0;
  display: block;
}

.side-link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "IranSans-Medium";
}

#modal-content {
  width: 380px;
  padding: 16px;
  background: white;
  border-radius: 12px;
}

#modal-content header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 12px;
}

#modal-content header button {
  background: transparent;
}

#modal-content main {
  padding: 12px 0;
  border-top: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
}

#input {
  display: block;
  font-size: 12px;
  height: 30px;
  padding: 0 12px;
  margin-top: 6px;
  border-radius: 6px;
  width: 94%;
  border: 1px solid rgb(216, 216, 216);
}

label {
  font-size: 12px;
  color: gray;
}

#input::placeholder {
  font-size: 12px !important;
}

#modal-content footer {
  padding-top: 12px;
}

#create {
  width: 100%;
  height: 30px;
  color: white;
  background: rgb(0, 153, 255);
}
